$labelColor: #7e97a6;
$labelColorFocus: #63686e;

$color-red: #d32f2f;
$color-orange: #ff9800;
$color-yellow: yellow;
$color-blue: #2196f3;
$color-green: #43a047;

@mixin input-size-style(
    $labelFontSize: 16px,
    $labelTransform: 11px,
    $inputHeight: 56px,
    $inputFontSize: 16px,
    $paddingTop: 21px
) {
    label {
        transform: translate(14px, $labelTransform) scale(1);
        font-size: $labelFontSize;

        &.Mui-focused,
        &.MuiInputLabel-shrink {
            font-size: 16px;
            transform: translate(14px, -6px) scale(0.75);
        }
    }

    .MuiInputBase-formControl {
        .MuiInputBase-input {
            height: $inputHeight;
            font-size: $inputFontSize;
            //display: flex;
            //align-items: center;
            padding-left: 14px !important;
            padding-right: 14px !important;
            padding-top: $paddingTop;
            padding-bottom: 0;
            box-sizing: border-box;
        }
        input {
            height: $inputHeight;
            font-size: $inputFontSize;
            padding-top: 0 !important;
            padding-bottom: 0 !important;
        }

        textarea {
            height: auto !important;
            //padding-top: 0 !important;
            //padding-bottom: 0 !important;
        }
    }
}

@mixin button-size-style($background: #7e97a6, $color: #ffffff) {
    background: $background !important;
    text-transform: uppercase !important;
    letter-spacing: 0.5px !important;
    color: white !important;
    font-weight: bold !important;
    outline: none !important;
    line-height: 1.2 !important;
    padding: 0 20px !important;
    border: none !important;

    &.small {
        height: 36px;
        font-size: 11px !important;
    }

    &.xsmall {
        height: 26px;
        font-size: 11px !important;
    }

    &.medium {
        height: 46px;
        font-size: 12px !important;
    }

    &.large {
        height: 56px;
        font-size: 13px !important;
    }

    &.xlarge {
        height: 66px;
        font-size: 15px !important;
    }

    .MuiButton-label {
        i {
            margin: 0 5px;
            font-size: 13px;
        }
    }

    &.custom-icon-button {
        padding: 0 !important;

        &.small {
            height: 34px;
            width: 35px;
            min-width: 35px;
        }

        &.xsmall {
            height: 24px;
            width: 25px;
            min-width: 25px;
        }

        &.medium {
            height: 44px;
            width: 45px;
            min-width: 45px;
        }

        &.large {
            height: 54px;
            width: 55px;
            min-width: 55px;
        }

        &.xlarge {
            height: 64px;
            width: 65px;
            min-width: 65px;
        }
    }

    span {
        > .MuiCircularProgress-colorPrimary {
            color: $color !important;
        }
    }

    &.outlined {
        background: transparent !important;
        border: 2px solid $background !important;
        color: $background !important;

        span {
            > .MuiCircularProgress-colorPrimary {
                color: $background !important;
            }
        }

        &:hover {
            background: $background !important;
            color: $color !important;

            span {
                > .MuiCircularProgress-colorPrimary {
                    color: $color !important;
                }
            }
        }
    }

    &:hover {
        background: darken($background, 10%) !important;
    }

    &.radius-lg {
        border-radius: 30px;
    }

    &:disabled {
        background: lighten($background, 10%) !important;
        opacity: 0.5;
    }
}

.custom-outlined-input {
    outline: none;

    label {
        color: $labelColor;

        &:not(.Mui-error) {
            &.Mui-focused {
                color: $labelColorFocus;
            }
        }
    }

    &.small {
        @include input-size-style(14px, 13px, 36px, 14px, 13px);
    }

    &.medium {
        @include input-size-style(16px, 16px, 46px, 16px, 16px);
    }

    &.large {
        @include input-size-style(17px, 20px, 56px, 16px, 20px);
    }

    &.xlarge {
        @include input-size-style(22px, 23px, 66px, 22px, 23px);
    }

    .MuiInputBase-root {
        padding: 0 !important;

        .MuiInputAdornment-positionStart {
            left: 0;
            margin-left: 14px;
            margin-right: 0 !important;

            p {
                line-height: 1;
            }
        }

        .MuiInputAdornment-positionEnd {
            right: 0 !important;
            margin-right: 14px;
            margin-left: 0 !important;

            p {
                line-height: 1;
            }
        }
        fieldset {
            border-color: $labelColor;
        }

        &:not(.Mui-error) {
            &.Mui-focused,
            &:hover {
                fieldset {
                    border-color: $labelColorFocus;
                }
            }
        }
    }

    .MuiFormHelperText-contained {
        margin: 3px 0 0 0;
        font-size: 11px;
        line-height: 1.5;

        &:not(.Mui-error) {
            color: $labelColorFocus;
        }
    }

    .date-picker-adornment {
        @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
            margin-left: -12px;
            margin-right: 12px;

            i {
                font-size: 1.2rem;
            }
        }
    }
}

.MuiPickersDateRangePickerInput-root {
    .date-range-picker-adornment {
        margin-left: -12px;

        @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
            margin-right: 12px;

            i {
                font-size: 1.2rem;
            }
        }
    }
}

.custom-outlined-button {
    outline: none;

    &.custom-icon-button {
        border-radius: 50%;
    }

    &.default {
        @include button-size-style($color-blue, #fff);
    }

    &.danger {
        @include button-size-style($color-red, #fff);
    }

    &.info {
        @include button-size-style($color-blue, #fff);
    }

    &.warning {
        @include button-size-style($color-orange, #fff);
    }

    &.success {
        @include button-size-style($color-green, #fff);
    }
}

// Select Field DropDown Menu
.select-dropdown-menu-container {
    outline: none;

    ul {
        li {
            font-size: 14px;
            padding: 10px;
            letter-spacing: 0;

            &.dropdown-empty-value {
                position: sticky;
                top: 0;
                background: #ddd;
                z-index: 1;
                span {
                    font-weight: bold;
                    margin-right: 10px;
                }
            }

            .custom-multi-select-item-checkbox {
                padding: 0 10px 0 0;
            }
        }
    }
}

// Modal
.custom-modal-mui-dialog {
    outline: none;

    .MuiPaper-rounded {
        border-radius: 2px;
    }

    .custom-modal-close {
        position: absolute;
        right: 0;
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        i {
            font-size: 25px;
            line-height: 1;
            color: #63686e;
        }

        &:hover {
            i {
                color: #364658;
            }
        }
    }

    .custom-modal-body {
        padding: 0 !important;
        transition: 300ms all;
        border-radius: 2px;
        display: flex;
        align-items: flex-start;
        flex-direction: column;
        justify-content: center;

        .custom-modal-title-container {
            width: calc(100% - 50px);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;

            h4 {
                font-size: 20px;
                line-height: 1.3;
                color: #364658;
                font-weight: 700;
            }

            p {
                line-height: 1.3;
                margin-top: 10px;
            }
        }
    }
}

// Autocomplete paper

.MuiAutocomplete-popper {
    left: 1px !important;

    .MuiPaper-root.MuiAutocomplete-paper.MuiPaper-elevation1.MuiPaper-rounded {
        box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0px 8px 10px 1px rgba(0, 0, 0, 0.14),
            0px 3px 14px 2px rgba(0, 0, 0, 0.12);
        min-width: 227px;

        .MuiAutocomplete-listbox {
            max-height: 300px;

            li {
                font-size: 14px;
                padding: 10px;
                letter-spacing: 0;
            }
        }
    }
}

// Tab
.custom-tabs-wrapper {
    .MuiTabs-root {
        min-height: inherit !important;
        border-bottom: 1px solid #eeeeee;

        .MuiTabScrollButton-root {
            transition: width 0.2s ease;

            &.Mui-disabled {
                width: 0;
            }
        }

        .MuiTabs-indicator {
            background-color: #0d7438;
        }

        .MuiTabs-flexContainer {
            .MuiTab-root {
                &.MuiTab-labelIcon {
                    min-height: 48px;
                    padding-top: 6px;
                }
            }

            .Mui-selected {
                color: #0d7438 !important;
            }

            .MuiTab-wrapper {
                flex-direction: row;

                .title-text {
                    margin-left: 5px;
                }

                i {
                    margin-bottom: 0 !important;
                }
            }

            > a {
                text-decoration: none;

                &:hover {
                    color: inherit;
                }
            }
        }
    }

    &.vertical-design {
        display: flex;

        .MuiTabs-root {
            border-bottom: none;
        }
    }
}

// For DatePicker
.MuiPickersToolbar-root {
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        min-height: 100px !important;
    }
}

//
.custom-checkbox-wrapper {
    .custom-checkbox-label {
        margin-bottom: 0;

        .custom-checkbox {
            color: #7e97a6;

            &:hover,
            &.Mui-checked:hover {
                background-color: rgba(0, 0, 0, 0.04);
            }
        }
    }
}

.custom-radio-group-wrapper {
    .custom-radio-wrapper {
        .custom-radio-label {
            margin-bottom: 0;

            .custom-radio {
                color: #7e97a6;

                &:hover,
                &.Mui-checked:hover {
                    background-color: rgba(0, 0, 0, 0.04);
                }
            }
        }

        .component-error-text {
            color: $labelColorFocus;
        }
    }
}
